
@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaMilad-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaMilad-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaMilad-ExtendedHeavyItalic.ttf') format('truetype');
}
