
@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Thin.woff2') format('woff2'), url('TTF/IosevkaCustom-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Light.woff2') format('woff2'), url('TTF/IosevkaCustom-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-LightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Regular.woff2') format('woff2'), url('TTF/IosevkaCustom-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Extended.woff2') format('woff2'), url('TTF/IosevkaCustom-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-Italic.woff2') format('woff2'), url('TTF/IosevkaCustom-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Medium.woff2') format('woff2'), url('TTF/IosevkaCustom-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-SemiBold.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Bold.woff2') format('woff2'), url('TTF/IosevkaCustom-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-Heavy.woff2') format('woff2'), url('TTF/IosevkaCustom-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaCustom-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaCustom-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Milad Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaCustom-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyItalic.ttf') format('truetype');
}
